.body,
html {
    height: 100%
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    color: #818c98;
    background-color: #ecedef;
    -ms-hyphens: auto;
    -webkit-font-smoothing: antialiased
}
/* Typography */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    padding-bottom: 5px;
    color: #3b475f
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
li,
li a,
p a {
    color: #32333f
}
a p {
    color: #63636d
}
a {
    color: #1084ff
}
a:focus,
a:hover {
    text-decoration: none;
    color: #1084ff
}
a:active,
a:focus,
button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=file]>input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
select::-moz-focus-inner {
    outline: 0
}
strong {
    color: #3b475f
}
.wrapper {
    max-width: 1580px;
    margin: 0 auto;
    background-color: #fff
}
.lead {
    font-size: 18px;
    margin-bottom: 15px
}
.no-border {
    border: 0
}
h1.styled {
    font-size: 32px;
    font-weight: lighter;
    line-height: 35px;
    margin-top: 0;
    letter-spacing: 2px;
    text-transform: uppercase
}
address {
    font-style: normal;
    line-height: 1.7;
    margin-bottom: 20px
}
/* Background colors  and colors */

.bg-light {
    background: #e9eef1;
    background: linear-gradient(to right, rgba(234, 237, 242, 0.43), #e9eef1 100%);
    -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #b5b5b5;
    text-shadow: 0 1px 0 #fff;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9eef1', GradientType=1);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#f6f5fa');
    -o-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #b5b5b5;
    -khtml-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #b5b5b5
}
.bg-gray {
    background-color: #eaedf2
}
.bg-blue-light {
    color: #fff;
    background-color: #0b53a5
}
.bg-blue {
    color: #fff;
    background-color: #014898
}
.bg-blue-dark {
    color: #fff;
    background-color: #3590c3
}
.bg-red-light {
    color: #fff;
    background-color: #f1553d
}
.bg-red {
    color: #fff;
    background-color: #df3921
}
.bg-red-dark {
    color: #fff;
    background-color: #e02409
}
.bg-green-light {
    color: #fff;
    background-color: #94c23d
}
.bg-green {
    background-color: #81b226;
    colr: #fff
}
.bg-green-dark {
    background-color: #80b61b;
    colr: #fff
}
.arrow-after:after {
    position: absolute;
    bottom: -25px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -30px;
    content: '';
    border-top: 25px solid transparent;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent
}
.alt-bg.arrow-after:after {
    border-top-color: #222
}
.color-white {
    color: #fff
}
.color-blue-light {
    color: #1967bd
}
.color-blue {
    color: #014898
}
.color-blue-dark {
    color: #3590c3
}
.color-red-light {
    color: #f1553d
}
.color-red {
    color: #df3921
}
.color-red-dark {
    color: #e02409
}
.color-green-light {
    color: #94c23d
}
.color-green {
    color: #81b226
}
.color-green-dark {
    color: #80b61b
}
/* embed video */

video {
    max-width: 100%;
    height: auto
}
embed,
iframe,
object {
    max-width: 100%
}
.img-thumbnail {
    padding: 0;
    border: 0;
    border-radius: 0
}
.page-content {
    padding-top: 40px;
    padding-bottom: 40px
}
/* Buttons */

.btn {
    border-radius: 2px;
    background: 0 0
}
.btn-round {
    padding: 9px 18px;
    border-width: 1px;
    border-radius: 30px!important
}
.btn-sm,
.btn-xs {
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
    border-radius: 3px
}
.btn-xs {
    padding: 1px 5px
}
.btn-lg {
    font-size: 18px;
    font-weight: 400;
    padding: 14px 60px;
    border-radius: 2px
}
.btn-wd {
    min-width: 140px
}
.btn-default {
    color: #32333f;
    border-color: #eaedf2;
    background: #fff
}
.btn-primary {
    color: #014898;
    border-color: #014898
}
.btn-info {
    color: #2c93ff;
    border-color: #2c93ff
}
.btn-success {
    color: #05ae0e;
    border-color: #05ae0e
}
.btn-warning {
    color: #ff9500;
    border-color: #ff9500
}
.btn-danger {
    color: #ff3b30;
    border-color: #ff3b30
}
.btn-royal {
    color: #2f2d35;
    border-color: #2f2d35
}
.btn:hover {
    opacity: 1;
    background-color: transparent
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
    color: #1d62f0;
    border-color: #1d62f0;
    background-color: transparent
}
.btn-info.active,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open .dropdown-toggle.btn-info {
    color: #1084ff;
    border-color: #1084ff;
    background-color: transparent
}
.btn-success.active,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open .dropdown-toggle.btn-success {
    color: #049f0c;
    border-color: #049f0c;
    background-color: transparent
}
.btn-warning.active,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open .dropdown-toggle.btn-warning {
    color: #ed8d00;
    border-color: #ed8d00;
    background-color: transparent
}
.btn-danger.active,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open .dropdown-toggle.btn-danger {
    color: #ee2d20;
    border-color: #ee2d20;
    background-color: transparent
}
.btn-default.active,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open .dropdown-toggle.btn-default {
    color: #666;
    border-color: #888;
    background-color: transparent
}
.btn-royal.active,
.btn-royal:active,
.btn-royal:focus,
.btn-royal:hover,
.open .dropdown-toggle.btn-default {
    color: #fff;
    border-color: #000;
    background-color: #2f2d35
}
.btn.active,
.btn:active {
    background-image: none;
    box-shadow: none
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    opacity: .45
}
.btn-primary.active[disabled],
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    border-color: #3472f7;
    background-color: transparent
}
.btn-info.active[disabled],
.btn-info.disabled,
.btn-info.disabled.active,
.btn-info.disabled:active,
.btn-info.disabled:focus,
.btn-info.disabled:hover,
.btn-info[disabled],
.btn-info[disabled]:active,
.btn-info[disabled]:focus,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info.active,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:hover {
    border-color: #2c93ff;
    background-color: transparent
}
.btn-success.active[disabled],
.btn-success.disabled,
.btn-success.disabled.active,
.btn-success.disabled:active,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled],
.btn-success[disabled]:active,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
    border-color: #05ae0e;
    background-color: transparent
}
.btn-danger.active[disabled],
.btn-danger.disabled,
.btn-danger.disabled.active,
.btn-danger.disabled:active,
.btn-danger.disabled:focus,
.btn-danger.disabled:hover,
.btn-danger[disabled],
.btn-danger[disabled]:active,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger.active,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:hover {
    border-color: #ff3b30;
    background-color: transparent
}
.btn-warning.active[disabled],
.btn-warning.disabled,
.btn-warning.disabled.active,
.btn-warning.disabled:active,
.btn-warning.disabled:focus,
.btn-warning.disabled:hover,
.btn-warning[disabled],
.btn-warning[disabled]:active,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning.active,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:hover {
    border-color: #ff9500;
    background-color: transparent
}
.btn-fill {
    opacity: 1;
    color: #fff
}
.btn-fill:active,
.btn-fill:focus,
.btn-fill:hover {
    color: #fff
}
.btn-default.btn-fill {
    border-color: #999;
    background-color: #999
}
.btn-primary.btn-fill {
    border-color: #014898;
    background-color: #014898
}
.btn-info.btn-fill {
    border-color: #0b53a5;
    background-color: #0b53a5
}
.btn-success.btn-fill {
    border-color: #05ae0e;
    background-color: #05ae0e
}
.btn-warning.btn-fill {
    border-color: #ff9500;
    background-color: #ff9500
}
.btn-danger.btn-fill {
    border-color: #ff3b30;
    background-color: #ff3b30
}
.btn-royal.btn-fill {
    color: #fff;
    background-color: #2f2d35
}
.btn-default.btn-fill.active,
.btn-default.btn-fill:active,
.btn-default.btn-fill:focus,
.btn-default.btn-fill:hover,
.open .dropdown-toggle.btn-fill.btn-default {
    border-color: #888;
    background-color: #888
}
.btn-primary.btn-fill.active,
.btn-primary.btn-fill:active,
.btn-primary.btn-fill:focus,
.btn-primary.btn-fill:hover,
.open .dropdown-toggle.btn-primary.btn-fill {
    border-color: #014898;
    background-color: #014898
}
.btn-info.btn-fill.active,
.btn-info.btn-fill:active,
.btn-info.btn-fill:focus,
.btn-info.btn-fill:hover,
.open .dropdown-toggle.btn-info.btn-fill {
    border-color: #145db0;
    background-color: #0f5bb2
}
.btn-success.btn-fill.active,
.btn-success.btn-fill:active,
.btn-success.btn-fill:focus,
.btn-success.btn-fill:hover,
.open .dropdown-toggle.btn-fill.btn-success {
    border-color: #049f0c;
    background-color: #049f0c
}
.btn-warning.btn-fill.active,
.btn-warning.btn-fill:active,
.btn-warning.btn-fill:focus,
.btn-warning.btn-fill:hover,
.open .dropdown-toggle.btn-fill.btn-warning {
    border-color: #ed8d00;
    background-color: #ed8d00
}
.btn-danger.btn-fill.active,
.btn-danger.btn-fill:active,
.btn-danger.btn-fill:focus,
.btn-danger.btn-fill:hover,
.open .dropdown-toggle.btn-danger.btn-fill {
    border-color: #ee2d20;
    background-color: #ee2d20
}
/* CSS class helpers */

.no-padding {
    padding: 0
}
.no-margin {
    margin: 0
}
.no-top-space {
    margin-top: 0!important;
    padding-top: 0!important
}
.no-bottom-space {
    margin-bottom: 0!important;
    padding-bottom: 0!important
}
.content {
    padding-top: 40px;
    padding-bottom: 40px
}
.content-sm {
    padding-top: 60px;
    padding-bottom: 60px
}
.content-md {
    padding-top: 80px;
    padding-bottom: 80px
}
.content-lg {
    padding-top: 100px;
    padding-bottom: 100px
}
.space-lg-hor {
    padding-right: 60px;
    padding-left: 60px
}
.space-xlg-hor {
    padding-right: 100px;
    padding-left: 100px
}
.margin-bottom-10,
.margin-bottom-15,
.margin-bottom-20,
.margin-bottom-25,
.margin-bottom-30,
.margin-bottom-35,
.margin-bottom-40,
.margin-bottom-45,
.margin-bottom-5,
.margin-bottom-50,
.margin-bottom-55,
.margin-bottom-60 {
    clear: both
}
.margin-bottom-5 {
    margin-bottom: 5px
}
.margin-bottom-10 {
    margin-bottom: 10px
}
.margin-bottom-15 {
    margin-bottom: 15px
}
.margin-bottom-20 {
    margin-bottom: 20px
}
.margin-bottom-25 {
    margin-bottom: 25px
}
.margin-bottom-30 {
    margin-bottom: 30px
}
.margin-bottom-35 {
    margin-bottom: 35px
}
.margin-bottom-40 {
    margin-bottom: 40px
}
.margin-bottom-45 {
    margin-bottom: 45px
}
.margin-bottom-50 {
    margin-bottom: 50px
}
.margin-bottom-55 {
    margin-bottom: 55px
}
.margin-bottom-60 {
    margin-bottom: 60px
}
.margin-top-30 {
    margin-top: 30px
}
.margin-top-40 {
    margin-top: 40px
}
.margin-top-50 {
    margin-top: 50px
}
.margin-top-60 {
    margin-top: 60px
}
@media (max-width: 768px) {
    .sm-margin-bottom-10 {
        margin-bottom: 10px
    }
    .sm-margin-bottom-20 {
        margin-bottom: 20px
    }
    .sm-margin-bottom-30 {
        margin-bottom: 30px
    }
    .sm-margin-bottom-40 {
        margin-bottom: 40px
    }
    .sm-margin-bottom-50 {
        margin-bottom: 50px
    }
    .sm-margin-bottom-60 {
        margin-bottom: 60px
    }
}
@media (max-width: 992px) {
    .md-margin-bottom-10 {
        margin-bottom: 10px
    }
    .md-margin-bottom-20 {
        margin-bottom: 20px
    }
    .md-margin-bottom-30 {
        margin-bottom: 30px
    }
    .md-margin-bottom-40 {
        margin-bottom: 40px
    }
    .md-margin-bottom-50 {
        margin-bottom: 50px
    }
    .md-margin-bottom-60 {
        margin-bottom: 60px
    }
}
.margin-top-10 {
    margin-top: 10px
}
.margin-top-20 {
    margin-top: 20px
}
.margin-left-5 {
    margin-left: 5px
}
.margin-left-10 {
    margin-left: 10px
}
.margin-right-5 {
    margin-right: 5px
}
.margin-right-10 {
    margin-right: 10px
}
.padding-left-5 {
    padding-left: 5px
}
.space-xs {
    padding-top: 30px;
    padding-bottom: 30px
}
.space-sm {
    padding-top: 60px;
    padding-bottom: 60px
}
.space-md {
    padding-top: 90px;
    padding-bottom: 90px
}
.space-lg {
    padding-top: 110px;
    padding-bottom: 110px
}
.space-icon-row {
    padding-top: 15px;
    padding-bottom: 15px
}
.spacer5 {
    height: 5px
}
.spacer10 {
    height: 10px
}
.spacer15 {
    height: 15px
}
.spacer20 {
    height: 20px
}
.spacer25 {
    height: 25px
}
.spacer30 {
    height: 30px
}
.spacer35 {
    height: 35px
}
.spacer40 {
    height: 40px
}
.spacer45 {
    height: 45px
}
.spacer50 {
    height: 50px
}
.spacer80 {
    height: 80px
}
.spacer100 {
    height: 100px
}
.spacer200 {
    height: 200px
}
.spacer10,
.spacer100,
.spacer15,
.spacer150,
.spacer20,
.spacer200,
.spacer25,
.spacer35,
.spacer40,
.spacer45,
.spacer5,
.spacer50 {
    font-size: 0;
    display: block;
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0
}
.padding-top-90 {
    padding-top: 90px
}
/* Panels */

.panel {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none
}
.panel-default {
    border-color: #e9eef1
}
.panel-default>.panel-heading {
    color: #28282e;
    border-color: #e9eef1;
    background-color: #e9eef1;
    box-shadow: none
}
/* Social icons */

.social {
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style-type: none
}
.social li {
    font-size: 14px;
    display: inline-block;
    margin: 0
}
.social-btn {
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-align: center;
    color: #fff!important;
    background-color: #000
}
.social-btn.social-facebook {
    background-color: #3b5999
}
.social-btn.social-twitter {
    background-color: #00aced
}
.social-btn.social-google {
    background-color: #dd4b39
}
.social-btn.social-linkedin {
    background-color: #0976b4
}
.social-btn.social-foursquare {
    background-color: #f94877
}
.social-btn.social-pinterest {
    background-color: #cb2027
}
.social-btn.social-instagram {
    background-color: #3f729b
}
.social-btn.social-flickr {
    background-color: #ff0084
}
.social-btn.social-youtube {
    background-color: #cd201f
}
.social-btn.social-vimeo {
    background-color: #1ab7ea
}
.social-btn.social-rss {
    background-color: #f60
}
.social-btn:hover {
    opacity: .8
}
/* Hr dividers */

.icon-divider {
    position: relative;
    z-index: 1;
    text-align: center
}
.icon-divider:before {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    content: '';
    border-top: 1px solid #eaedf2;
    nowhitespace: afterproperty
}
.icon-divider span {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    margin: 20px auto;
    padding: 10px 70px;
    color: #28282e;
    border: 1px solid #eaedf2;
    border-radius: 24px;
    background: #fff;
    nowhitespace: afterproperty
}
.icon-divider.align {
    margin-top: -8px
}
.hr-line {
    border-top: 1px solid #eaedf2
}
/* HR after headins */

h2.heading,
h2.hr-after {
    line-height: 38px;
    margin-top: 0
}
h3.heading,
h3.hr-after {
    line-height: 30px;
    margin-top: 0
}
h4.heading,
h4.hr-after {
    line-height: 28px
}
.hr-after:after {
    position: relative;
    z-index: 0;
    display: block;
    margin: 18px 0 0;
    content: '';
    border-bottom: 2px solid #014898
}
/* Long hr after heading */

.widget-title {
    font-size: 18px;
    line-height: 30px;
    position: relative;
    margin: 0 0 25px;
    padding: 0 0 13px;
    border-bottom: 1px solid #eaedf2;
    background: 0 0
}
.widget-title:before {
    position: absolute;
    bottom: -2px;
    display: block;
    width: 50px;
    height: 3px;
    content: '';
    background: #014898
}
/* Add sme padding to the inner content mostly used for split sections  */

.inner-content {
    padding: 0 15px
}
/* Top bar navigation */

header .top-bar {
    font-size: 13px;
    padding: 5px 0;
    border-bottom: 1px solid #eee
}
.top-bar .language {
    float: right;
    border: 0;
    background: 0 0
}
.top-bar .dropdown-menu {
    z-index: 9999;
    border: 1px solid #eaedf2;
    border-top: 0;
    border-radius: 0;
    box-shadow: none
}
/* Header logo section */

header .middle-bar {
    margin-bottom: 15px;
    padding-top: 15px
}
header .middle-bar .contact-info p {
    font-size: 14px;
    font-style: italic;
    float: right;
    margin-top: 18px
}
header .middle-bar .contact-info p span {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    padding-left: 15px;
    letter-spacing: 1px;
    color: #323144
}
/* Main navigation */

.navbar {
    margin-bottom: 0;
    border: 0;
    background: #fff
}
.navbar-nav>li>a {
    padding-top: 21px;
    padding-bottom: 21px
}
.nav-wrap-holder,
.navbar-fixed-top {
    border-top: 1px solid #eaedf2;
    border-bottom: 1px solid #eaedf2
}
.navbar-default .navbar-nav>li>a {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #32333f
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #0e0e0f;
    background: linear-gradient(to right, rgba(255, 255, 255, .98) 0, rgba(234, 235, 244, .84) 100%)
}
header .navbar-form {
    width: auto;
    padding-top: 7px
}
.navbar .navbar-nav .divided {
    color: #eee
}
.menu-img {
    overflow: hidden;
    margin: 0 16px -16px;
    padding: 0
}
.navbar-brand {
    float: left;
    height: 40px;
    padding: 5px 15px
}
.navbar-brand img {
    height: 40px
}
/* Start slider section  */

.fullsize-container {
    position: relative;
    width: 100%;
    padding: 0
}
.fullsize-slider {
    position: relative;
    width: 100%
}
/* Appointment fomr */

.book-box {
    letter-spacing: 1px;
    background: #fff
}
.book-form {
    padding: 15px;
    background: #eaedf2
}
.book-box h2.head {
    font-size: 18px;
    line-height: 1.5;
    line-height: 45px;
    display: table;
    width: 100%;
    margin: 0 0 20px;
    padding: 15px 20px;
    color: #fff;
    background: #1084ff
}
.book-box h2.head span {
    font-size: 33px;
    display: table-cell;
    padding-right: 8px;
    vertical-align: middle
}
.book-box .form-group {
    margin: 11px auto
}
.book-box .help-block {
    font-size: 11px;
    line-height: 1.7;
    padding-top: 5px;
    color: inherit
}
.book-box .btn {
    padding: 10.5px 10px
}
.book-box .form-control {
    height: 45px border-radius: 4px
}
.horizontal-form {
    position: relative;
    z-index: 20;
    min-height: 205px
}
.horizontal-form .nav-tabs {
    border-bottom: transparent
}
.horizontal-form .tabbable-panel .nav-tabs>li {
    float: left;
    margin-bottom: 0
}
.horizontal-form .tab-content {
    padding: 20px 0 10px;
    border: 0
}
.horizontal-form .btn {
    position: relative;
    overflow: hidden;
    padding: 10px
}
.horizontal-form .btn:hover {
    background: #fff
}
.horizontal-form .tabbable-panel {
    margin-top: -42px
}
/* Forms  */

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select[multiple],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none
}
.form-control {
    height: 41px;
    border: 1px solid #eaedf2;
    border-radius: 0;
    box-shadow: none
}
.form-control:-moz-placeholder {
    color: #6a6872
}
.form-control:-ms-input-placeholder {
    color: #6a6872
}
.form-control::-webkit-input-placeholder {
    color: #6a6872
}
.form-control:focus {
    border-color: #bbc5d5
}
.form-control[disabled] {
    background: #eaedf2
}
select.form-control:focus {
    border-color: #bbc5d5;
    box-shadow: none
}
select[multiple].form-control {
    height: auto;
    border-width: 2px
}
.input-group-addon {
    color: #000;
    border: 1px solid #eaedf2;
    border-radius: 0;
    background-color: #fff
}
.input-lg {
    height: 50px
}
.input-sm {
    height: 29px
}
/* Simple bullet list */

ul.bullet-list {
    margin-top: 10px
}
ul.bullet-list li {
    position: relative;
    margin-left: 0;
    padding: 5px 33px 2px 30px;
    background: url(../images/tick4.svg) center left no-repeat;
    color: inherit
}
/* Open hours list */

.open-hours {
    margin-top: 10px
}
.open-hours strong {
    font-size: 15px;
    margin-bottom: 25px
}
.open-hours p {
    margin-top: 10px;
    padding: 0 0 12px;
    border-bottom: 1px solid #eee
}
.open-hours p:last-child {
    border-bottom: 0
}
.open-hours p span {
    font-weight: 700;
    float: right;
    color: #28282e
}
@media (max-width: 768px) {
    .open-hours {
        width: 80%
    }
}
.practice-info .inner-padding {
    padding-left: 50px
}
.practice-info .panel-group {
    margin-top: 35px
}
.panel-group .panel {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none
}
.panel-group .panel .glyphicon {
    font-size: 12px;
    line-height: 18px;
    float: right;
    padding: 0;
    color: #28282e
}
.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: transparent;
    border-left: 0
}
.panel-title>a {
    font-size: 14px;
    font-weight: 400;
    color: #7f8a96
}
.panel-group .panel-heading {
    padding: 15px 20px 11px;
    border: 1px solid #eaedf2;
    border-radius: 0;
    background: #fff
}
.panel-heading.blue-border {
    border-left: 4px solid #1b76bc
}
.panel-heading.light-blue-border {
    border-left: 4px solid #35cee7
}
.panel-heading.red-border {
    border-left: 4px solid #df1814
}
.panel-heading.green-border {
    border-left: 4px solid #aee74a
}
.cta {
    padding: 30px 0;
    color: #fff
}
#service {
    border-top: 1px solid #eaedf2;
    border-bottom: 1px solid #eaedf2
}
/* OWl carousel used for main service list */

#owl-demo .item {
    overflow: hidden;
    padding-left: 15px
}
.customNavigation {
    position: relative;
    float: right;
    margin-top: 20px;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-align: center
}
.customNavigation a {
    line-height: 10px
}
.customNavigation a i {
    font-size: 20px;
    margin: auto;
    padding: 0 5px;
    color: #28282e
}
.customNavigation a:hover {
    cursor: pointer;
    color: #32333f;
    border: 1px solid #eaedf2;
    background: #f8f8f8
}
.customNavigation a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent
}
@media (max-width: 480px) {
    .customNavigation {
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center
    }
}
/* CTA */

.cta-1 {
    padding-bottom: 0
}
.cta-1 .cta-features strong {
    font-size: 14px;
    font-weight: 700;
    display: block;
    overflow: hidden;
    padding: 25px 0;
    text-transform: uppercase;
    color: #fff
}
.cta-1 .cta-features strong sub {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    display: block;
    padding: 0 0 5px;
    text-transform: none;
    color: #fff
}
.cta-1 .cta-features .active-bg strong {
    color: #fff;
    border: #2c93ff;
    background: #2c93ff
}
.cta-1 .cta-features .active-bg strong sub {
    color: #fff
}
/* FOOTER SECTION */

.footer-4cln {
    padding: 35px 0
}
.footer-4cln a:hover {
    color: #32333f
}
.footer-4cln h6 {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase
}
.footer-4cln .help-block {
    font-size: 13px;
}
.footer-4cln hr {
    height: 1px;
    margin: 30px 0 15px;
    border: 0;
    background-color: rgba(35, 41, 46, .12)
}
.footer-4cln-bar span {
    font-size: 13px;
    display: block;
    float: left;
    margin: 10px 30px 10px 0;
    color: #959ca3
}
.footer-4cln-bar span i {
    font-size: 14px;
    top: 6px;
    margin-right: 5px;
    color: #959ca3
}
.footer-4cln-bar span a {
    color: #959ca3
}
.footer-4cln-bar span.address {
    font-size: 14px;
    line-height: 15px;
    float: right;
    width: 200px;
    text-align: right;
    color: #959ca3
}
.footer-4cln .form-inline {
    margin: 15px 0
}
.footer-4cln input {
    height: 41px;
    margin-top: -1px;
    border: 1px solid rgba(157, 161, 165, .38);
    background: 0 0
}
.footer-4cln .input-group .btn {
    margin-top: -1px;
    padding: 9.5px;
    opacity: 1;
    color: #32333f;
    border: 1px solid rgba(157, 161, 165, .38)
}
/* Masthead section note: please use data atr for images class="bg-image" and data-img-src="path/image" */

#masthead {
    min-height: 150px;
    padding-top: 55px
}
#masthead h1 {
    font-size: 30px;
    line-height: 1;
    padding-top: 20px
}
#masthead .well {
    margin-top: 8%
}
@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 50px
    }
}
/* Icon box */

.med-iconBox {
    position: relative
}
.med-iconBox.med-iconBox--left .med-iconBox-icon {
    float: left;
    margin-right: 20px
}
.med-iconBox.med-iconBox--left .med-iconBox-icon span {
    font-size: 48px
}
.med-iconBox.med-iconBox--left .med-iconBox-content {
    overflow: hidden;
    zoom: 1;
    padding-bottom: 5px
}
.med-iconBox-title {
    margin-top: 0
}
.med-iconBox-icon.icon-big i,
.med-iconBox-icon.icon-big span {
    font-size: 42px
}
/* Contact map */

.map {
    width: 100%;
    height: 350px;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee
}
.map img {
    max-width: none
}
.map-box {
    height: 250px
}
.map-box-space {
    margin-top: 15px
}
.map-box-space1 {
    margin-top: 7px
}
/* Cntact fomr */

.contact-form form,
.contact-form form input,
.contact-form form select,
.contact-form form textarea {
    width: 100%;
    margin-bottom: 20px
}
/* Team photos  */

.teamMembers .image-container {
    position: relative;
    overflow: hidden;
    max-height: 350px
}
.teamMembers .image-container img {
    -webkit-transition: all .4s;
    transition: all .4s
}
.teamMembers .image-container:hover img {
    -webkit-transform: translateY(-45px);
    -ms-transform: translateY(-45px);
    transform: translateY(-45px)
}
.teamMembers .image-container:hover figcaption {
    -webkit-transition: -webkit-transform .4s, opacity .1s;
    transition: transform .4s, opacity .1s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
}
.teamMembers .image-container figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 20px 0;
    -webkit-transition: -webkit-transform .4s, opacity .1s .3s;
    transition: transform .4s, opacity .1s .3s;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    text-align: center;
    opacity: 0;
    background: #2c93ff
}
.teamMembers figure figcaption .socials {
    text-align: center
}
.teamMembers figure figcaption .socials li {
    border: 1px solid #fff
}
.teamMembers figure figcaption .socials li a {
    color: #fff
}
.teamMembers article {
    background: #eaedf2
}
.teamMembers .info {
    position: relative;
    display: block;
    padding: 0 15px 20px
}
.teamMembers .info h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: 2px
}
.teamMembers .socials li {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 1px;
    padding: 4px;
    list-style: none;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    text-align: center;
    border: 1px solid #748796;
    border-radius: 50%
}
.teamMembers .socials li a {
    font-size: 14px;
    line-height: 16px;
    display: block;
    width: 16px;
    margin: 0;
    padding: 0;
    color: #748796
}
/* you can remove this after production */

.icon-page li {
    margin-bottom: 20px
}
.icon-page li span {
    font-size: 48px;
    margin-right: 15px;
    color: #2c93ff
}
/* Timetable page */

#calendar {
    width: 100%;
    margin: 0 auto
}
/* service pag */

.service-page .service-block {
    min-height: 220px;
    padding: 25px
}
.service-page .open-hours {
    margin-top: 0
}
.service-page .open-hours p span {
    color: #fff
}
.expertises .expertise {
    margin-bottom: 25px;
    padding-top: 25px;
    border-top: 1px solid #eaeaea
}
.expertises .expertise:first-child {
    padding-top: 0;
    border-top: none
}
.expertises .expertise h3 a {
    margin-bottom: 8px;
    color: #2b2a38 font-size: 17px
}
.expertises .expertise:hover h3 a {
    color: #1084ff
}
.expertises .expertise p a {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    text-decoration: none;
    color: #888
}
ul.expertise {
    margin-bottom: 25px
}
ul.expertise li {
    font-size: 16px;
    line-height: 42px;
    border-top: 1px solid #eee
}
ul.expertise li:last-child {
    border-bottom: 1px solid #eaeaea
}
.nav-stacked>li {
    float: none;
    border-bottom: 0
}
.nav-stacked>li:first-child {
    border-top: 0
}
.categorie {
    padding-top: 38px
}
.owl .item img {
    display: block;
    width: 100%;
    height: auto
}
.page-content .owl {
    padding: 30px 0
}
.thumbnail {
    padding: 0;
    border: 0;
    border-radius: 0
}
.thumbnail .caption {
    padding: 0
}
.thumbnail .caption p {
    color: #63636b
}
.breadcrumb {
    margin-bottom: 20px;
    padding: 8px 15px 0 2px;
    list-style: none;
    border-radius: 0;
    background-color: transparent
}
/* Blog */

.blog {
    padding-top: 70px;
    padding-bottom: 80px
}
.blog-main .blog-item {
    margin: 0 0 80px
}
.blog-main .pager {
    margin-top: 90px
}
.post-media,
.post-meta,
.post-title {
    display: block
}
.post-title h2.title,
.post-title h2.title a {
    line-height: 32px
}
.post-title h2.title a:hover {
    color: #48505e
}
.post-title blockquote {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #aaa
}
.post-title blockquote:before {
    content: ''
}
.post-title blockquote p {
    font-style: normal;
    padding-left: 0
}
.post-meta {
    font-size: 10px;
    font-weight: 300;
    margin: 14px 0 20px;
    padding: 0;
    letter-spacing: 2px;
    text-transform: uppercase
}
.post-meta ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.post-meta li {
    display: inline;
    margin-right: 5px
}
.post-meta li:last-child {
    margin-right: 0
}
.post-meta li:after {
    content: '\2022'
}
.post-meta li:last-child:after {
    content: ''
}
.post-meta span {
    line-height: 18px;
    padding-right: 8px
}
.post-meta a {
    display: inline-block;
    color: #aaa
}
.post-meta a:hover {
    color: #676767
}
.post-entry .btn {
    margin-top: 14px
}
.post-media {
    position: relative;
    margin: 0 0 20px
}
.post-media img {
    display: block;
    width: 100%
}
.responsive-video-div>div {
    position: relative
}
.responsive-video-div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.responsive-video-vimeo {
    max-width: 1130px
}
.responsive-video-vimeo>div {
    padding-top: 56.26506%
}
.responsive-video-youtube {
    max-width: 1130px
}
.responsive-video-youtube>div {
    padding-top: 56.271981%
}
.post-date {
    font-size: 10px;
    margin-bottom: 14px;
    letter-spacing: 2px;
    text-transform: uppercase
}
.post-date ul {
    margin: 0;
    padding: 0
}
.post-date li {
    display: inline;
    margin-right: 5px
}
.post-date li:last-child {
    margin-right: 0
}
.post-date span.day:after {
    content: ','
}
.post-date li:after {
    margin-left: 8px;
    content: '/'
}
.post-date li:last-child:after {
    margin-left: 0;
    content: ''
}
.post-entry .divider {
    width: 20%;
    margin: 35px auto;
    border-bottom: 1px solid #eee
}
pre {
    font-size: 13px;
    line-height: 1.42857143;
    display: block;
    margin: 0 0 10px;
    padding: 15.5px 10px;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
    color: #8c989e;
    border: 1px solid #edeff3;
    border-radius: 2px;
    background-color: #f5f5f5
}
.blog-item blockquote.light {
    font-style: italic;
    margin: 18px 0;
    padding: 30px 20px;
    color: #1c1c1f;
    background: #eaedf2
}
.widget {
    margin-bottom: 60px;
    padding-left: 0
}
.single_comments {
    margin-bottom: 20px
}
.single_comments img {
    display: block;
    float: left;
    max-width: 70px;
    margin-top: 5px;
    margin-right: 10px
}
.single_comments p {
    margin-bottom: 0
}
.widget .entry-meta span {
    display: inline-block;
    margin-right: 10px
}
.widget h3 {
    font-size: 16px;
    margin-bottom: 20px
}
.blog_category {
    margin: 0;
    padding: 0;
    list-style: none
}
.blog_category li {
    float: none;
    margin-bottom: 20px
}
.blog_category li a {
    display: inline-block;
    padding: 5px 15px;
    -webkit-transition: all .3s;
    transition: all .3s;
    background: #eaedf2
}
.blog_category li a:hover {
    color: #fff;
    background: #0b53a5
}
.badge:before {
    position: absolute;
    z-index: -99999;
    bottom: -8px;
    left: 5px;
    height: 0;
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #3498db
}
.badge {
    font-weight: 400;
    position: relative;
    top: -18px;
    left: 60px;
    padding: 8px;
    color: #fff;
    border-radius: 0;
    background-color: #0b53a5
}
.blog_archieve {
    margin: 0;
    padding: 0;
    list-style: none
}
.blog_archieve li {
    padding: 10px 0;
    border-bottom: 1px solid #f5f5f5
}
.blog_archieve li:first-child {
    padding-top: 0
}
ul.gallery {
    margin: 0;
    padding: 0;
    list-style: none
}
ul.gallery li {
    display: block;
    float: left;
    width: 60px;
    margin: 0 4px 4px 0;
    padding: 0
}
ul.faq {
    margin: 0;
    list-style: none
}
ul.faq li {
    margin-top: 30px
}
ul.faq li:first-child {
    margin-top: 0
}
ul.faq li span.number {
    font-size: 24px;
    line-height: 50px;
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: #34495e
}
ul.faq li>div {
    margin-left: 70px
}
ul.faq li>div h3 {
    margin-top: 0
}
.embed-container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.25%
}
.embed-container embed,
.embed-container iframe,
.embed-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
ul.pagination>li>a {
    font-size: 16px;
    margin-right: 5px;
    padding: 5px 14px;
    border: 1px solid #f1f1f1;
    border-radius: 0
}
ul.pagination>li>a i {
    margin-right: 5px;
    margin-left: 5px
}
ul.pagination>li.active>a,
ul.pagination>li:hover>a {
    color: #fff;
    border-color: #2a2933!important;
    background-color: #2a2933!important
}
.search_box {
    height: 48px;
    border-color: #eee;
    border-radius: 0;
    outline: 0;
    background-repeat: no-repeat;
    background-position: 314px 15px;
    box-shadow: none
}
.form-control:focus {
    outline: 0;
    box-shadow: none
}
ul.sidebar-gallery,
ul.tag-cloud {
    margin: 0;
    padding: 0;
    list-style: none
}
.tag-cloud li {
    display: inline-block;
    margin-bottom: 3px
}
.tag-cloud li a {
    padding: 8px 15px;
    color: rgba(30, 30, 37, 1);
    border: 0;
    border-radius: 0;
    background: #eaedf2
}
.tag-cloud li a:hover {
    color: #fff;
    background: #3498db
}
.comment-list {
    margin: 0;
    padding: 15px 0 0
}
.comment {
    margin: 15px 0 0;
    list-style-type: none
}
.comment:first-child {
    margin-top: 0;
    border-top: none
}
.comment div {
    position: relative
}
.comment .avatar {
    z-index: 1;
    float: left;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0
}
.avatar h2 {
    margin-bottom: 0
}
.comment .avatar img {
    width: 80px;
    height: 80px
}
.comment .comment-meta,
.comment .comment-wrap {
    float: right;
    width: 83%;
    padding: 0
}
.comment .comment-meta {
    font-size: 11px
}
.comment .author,
.comment .author a {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase
}
.comment .date {
    font-size: 10px;
    margin: 0 0 5px;
    text-transform: uppercase;
    color: #aaa
}
.comment .reply {
    margin-left: 10px;
    padding: 2px 8px;
    color: #fff;
    background-color: #2c93ff
}
.comment .reply:hover {
    color: #fff
}
.comment .comment-wrap {
    margin-top: 15px
}
.comment .children {
    margin: 15px 0 0 15px;
    padding: 0 0 0 35px;
    border-left: 2px solid #eee;
    background: url(../images/sprite.png) 0 -379px no-repeat
}
.comment .children div {
    background-color: #eaedf2
}
.comment .children .comment-meta .reply {
    color: #444;
    background-color: #fff
}
.comment .children .comment-meta .reply:hover {
    color: #fff;
    background: #191627
}
.comment .children .author,
.comment .children .author a {
    font-size: 12px;
    color: #18181a
}
.comment .children .date {
    color: #999
}
.comment .children .comment {
    list-style-type: none
}
.comment div {
    overflow: hidden;
    margin: 0;
    padding: 25px
}
.comment .children .comment {
    position: relative;
    margin: 15px 0 0;
    padding: 0
}
.comment .children .comment:first-child {
    margin-top: 0
}
.comment .children .children .comment-meta,
.comment .children .children .comment-wrap,
.comment .children .comment-meta,
.comment .children .comment-wrap {
    width: 82%
}
.comment .children .children .children .comment-meta,
.comment .children .children .children .comment-wrap {
    width: 89.5%
}
.comment .children .children .children .children .comment-meta,
.comment .children .children .children .children .comment-wrap {
    width: 89%
}
.comment .children .children .children .children .children .comment-meta,
.comment .children .children .children .children .children .comment-wrap {
    width: 88.5%
}
.comment-form {
    margin-top: 30px
}
.form-group label {
    font-size: 16px;
    font-weight: 300;
    color: #4e4e4e
}
textarea#message {
    padding: 10px;
    resize: none
}
#contact-page .contact-wrap {
    margin-top: 20px
}
/* Info box */

.info-box {
    position: relative
}
.info-box .info-image {
    overflow: hidden;
    max-height: 150px;
    background: #fff
}
.info-box .info-section {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding: 12px 25px;
    text-transform: uppercase;
    color: #fff;
    background: #0093e7
}
.info-box.info-2 .info-section,
.info-box.info-2 .readmore {
    background-color: #ffcb08
}
.info-box .info-content {
    padding: 20px 15px;
    border-right: 1px solid #eaedf2;
    border-bottom: 1px solid #eaedf2;
    border-left: 1px solid #eaedf2;
    background: #fff
}
.info-box .info-txt {
    overflow: hidden;
}
.info-box .info-date {
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: #0093e7
}
.info-box h3 {
    font-size: 15px;
    font-weight: 600;
    line-height: inherit;
    overflow: hidden;
    margin: 15px 0
}
.info-box .info-2 .col-date {
    color: #ffcb08
}
.info-box .info-3 .col-date {
    color: #86c347
}
.info-box .info-4 .col-date {
    color: #ec4e1e
}
.info-box .readmore {
    position: relative;
    left: -25px
}
a.readmore {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    display: inline-block;
    margin-top: 20px;
    padding: 7px 55px 7px 25px;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
    text-transform: uppercase;
    color: #32333f;
    border: 1px solid #eaedf2;
    background: #eaedf2
}
a.readmore:hover {
    right: 25px;
    border: 1px solid #eaedf2;
    background: #fff
}
.category-procedures {
    padding: 9px 9px 6px 0
}
.category-procedures li {
    line-height: 14px;
    display: block;
    overflow: hidden
}
.category-procedures li a {
    display: block;
    overflow: hidden;
    margin-bottom: 10px
}
.category-procedures li a span.text {
    position: relative;
    top: 6px
}
.category-procedures li a span.text.top {
    top: 0
}
.category-procedures li a span.text strong {
    font-weight: 300;
    color: #7f8a96
}
.category-procedures li a span.price {
    font-size: 14px;
    line-height: 24px;
    float: right;
    min-width: 55px;
    margin-left: 10px;
    padding: 0 5px;
    text-align: center;
    border: 2px solid #eaedf2;
    background: #fff
}
.category-procedures li a:hover {
    text-decoration: none
}
.see-all-procedures {
    line-height: 16px;
    text-align: center
}
.price-box-1 {
    border-top: #1084ff 4px solid
}
.price-box-2 {
    border-top: #f55487 4px solid
}
.price-box-3 {
    border-top: #3ec799 4px solid
}
.price-box-4 {
    border-top: #aee74a 4px solid
}
.well {
    min-height: 20px;
    margin-bottom: 20px;
    padding: 19px;
    border: 1px solid #eaedf2;
    border-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none
}
/* sidebar */

.sidebar .info li {
    margin-bottom: 15px;
    padding-bottom: 8px;
    color: #818c98;
}
.sidebar .info li:last-child figure {
    border-bottom: none
}
.sidebar .info li:last-child figure:after,
.sidebar .info li:last-child figure:before {
    display: table;
    content: ' '
}
.sidebar .info li:last-child figure:after {
    clear: both
}
.sidebar .info figure img {
    float: left;
    margin-right: 1.2em;
    border-radius: 2px
}
.sidebar .info figure .description p {
    margin: 0 0 .5em
}
.sidebar .info figure .description a {
    font-size: .9em;
    color: #46494c
}
.sidebar .info figure .description a:hover {
    color: #e76049
}
.sidebar .info figure .description a span {
    margin-right: .35em
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-color: #1084ff
}
.tooltip-inner {
    padding: 10px;
    color: #fff;
    border-radius: 0;
    background: #1084ff
}
.tooltip-arrow {
    border-bottom-color: #1084ff
}
/* sidebar navigation */

.nav-pills>li>a {
    font-size: 12px;
    font-weight: 600;
    padding: 10px 15px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 0
}
.nav-pills.nav-stacked>li+li {
    margin-left: 0
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover,
.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
    color: #0e3d52;
    border: 1px solid #eaedf2;
    background-color: #eaedf2
}
.nav-pills.nav-stacked>li>a:after {
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: 9px;
    right: 15px;
    content: '\f105';
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
.nav-pills>li.active>a:after {
    color: #0e3d52
}
.nav-pills>li.active>a:focus:after,
.nav-pills>li.active>a:hover:after,
.nav-pills>li>a:focus:after,
.nav-pills>li>a:hover:after {
    right: 10px;
    color: #0e3d52
}
.content-left {
    padding: 0 0 0 30px
}
@media (max-width: 767px) {
    .content-left {
        padding: 15px
    }
}
.content-right {
    padding: 0 30px 0 0
}
@media (max-width: 767px) {
    .content-right {
        padding: 15px
    }
}
.alert-danger {
    color: #fff;
    border-color: #dd2770;
    border-radius: 0;
    background-color: #e92b77
}
.alert-success {
    color: #fff;
    border-color: #37d877;
    border-radius: 0;
    background-color: #42cc95
}
.info-block .thumbnail {
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 1px solid #eaedf2
}
.info-block .thumbnail figure {
    overflow: hidden
}
.info-block .thumbnail img,
.info-box .info-image img {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}
.info-block .thumbnail:hover img,
.info-box:hover .info-image img {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15)
}
.info-block .round-icon {
    font-size: 28px;
    line-height: 50px;
    position: relative;
    z-index: 10;
    width: 50px;
    height: 50px;
    margin: -27px auto 0;
    color: #fff;
    border-radius: 2px
}
.info-block .thumbnail .caption {
    clear: both;
    min-height: 160px;
    padding: 10px 15px 15px;
    cursor: pointer
}
.info-block .thumbnail .caption p {
    color: #7f8a96
}
.info-block .spark-actions {
    font-size: 12px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #eaedf2
}
.info-block .spark-actions li+li {
    float: right;
    margin-left: 25px;
    border-right: 0;
    border-left: 1px solid #eaedf2
}
.info-block .spark-actions li {
    float: left;
    width: 40px;
    border-right: 1px solid #eaedf2
}
.info-block .spark-actions li:hover {
    opacity: .85000002384186;
    -ms-filter: 'alpha(Opacity=85.000002384186)';
    filter: alpha(opacity=85.000002384186)
}
.info-block .spark-actions a {
    font-weight: 300;
    line-height: 42px;
    display: block;
    text-decoration: none;
    color: #7f8a96
}
.info-block .spark-actions a span {
    padding: 0 5px;
    vertical-align: middle
}
.tabbed-service .tab-content figure img {
    margin: auto
}
.nav-tabs {
    border-bottom: 1px solid #eaedf2
}
.nav-tabs li a {
    border-radius: 2px 2px 0 0;
    background-color: #014898
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    cursor: default;
    color: inherit;
    border: 1px solid #eaedf2;
    border-bottom-color: transparent;
    background-color: #fff
}
.nav-tabs>li:not(.active)>a {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    color: #fff;
    border-color: #0d4c93;
    background: #014898
}
.nav-tabs>li:not(.active)>a:hover {
    background-color: #0d4c89
}
.tab-content {
    border-right: 1px solid #eaedf2;
    border-bottom: 1px solid #eaedf2;
    border-left: 1px solid #eaedf2;
    background-color: #fff
}
.tabs-wrapper .tab-content {
    padding: 15px
}
.tab-content.no-border {
    border: 0
}
.benefits-quote {
    min-height: 300px
}
.benefits-quote .bg-image {
    min-height: 380px
}
.quote {
    max-width: 550px;
    margin: 75px 0 20px;
    padding: 20px 0
}
.quote>* {
    margin-left: 45px
}
.quote p {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase
}
.quote blockquote {
    font-family: Georgia, serif;
    font-size: 26px;
    font-style: italic;
    line-height: 28px;
    padding: 0;
    color: #32333f;
    border: 0
}
.quote h2 {
    font-size: 16px;
    line-height: 22px;
    margin-top: 30px;
    margin-bottom: 0
}
.quote h6 {
    font-size: 10px;
    line-height: 10px;
    margin-top: 0;
    text-transform: uppercase
}
.quote img {
    float: left;
    width: 60px;
    margin-right: 15px
}
/* reset */

table {
    border: 0;
    /* Replace border */
    border-spacing: 0px;
    /* Replace cellspacing */
    border-collapse: collapse;
    /* Patch for Internet Explorer 6 and Internet Explorer 7 */
}
table td {
    padding: 0px;
    /*replace cellpadding*/
}